*{
    margin: 0%;
    padding:0%;
   
}

h2{
    
   color: brown;
  text-align: center;
  padding-bottom: 5%;
}
.gallery{
    width:80%;
    margin-left: 5%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10%;
    padding: 2%;


}

.gallery img{
    width:100%;
    border-radius:4px;
    height: 70%;
    padding: 5%;
    border: 4px solid goldenrod;
}