.container{
    display:flex;
    justify-content: center;
    gap: 20px;
    
}
.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
      border: 3px solid rgb(75, 47, 255);
     width:25%;
     justify-content: center;
      background-color: rgba(0, 0, 0, 0.126);

}

.card2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
      border: 3px solid rgb(75, 47, 255);
     width:25%;
     justify-content: center;
      background-color: rgba(0, 0, 0, 0.126);

}

.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border: 3px solid rgb(75, 47, 255);
    width:25%;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.126);
}

#img1{
    width:60px;
   height: 130px;
    padding:10%;
    
}

#img2{
    width:70px;
    height:130px;
    padding:10%;

}

#img3{
    width:70px;
    height:135px;
    padding:10%;
  
}

.card-para-to-btn1{
    padding:30px;
 background-color: white;
 display:flex;
 flex-direction: column;
 justify-content: center;
}
.card-para-to-btn2{
    padding:30px;
 background-color: white;
  display:flex;
 flex-direction: column;
 justify-content: center;
}
.card-para-to-btn3{
    padding:20px;
 background-color: white;
  display:flex;
 flex-direction: column;
 justify-content: center;

}

#card1-para{
     width:80%;
     display: flex;
    justify-content: center;
    align-items: center;
}
#card2-para{
    width:80%;
}

#card3-para{
    width:75%;
   
}
.price{
    color: rgba(248, 14, 14, 0.815);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.mrp{
    color: rgb(173, 169, 169);
     display: flex;
    justify-content: center;
}

button{
    color: rgb(32, 66, 239);
}
